<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <!-- 描述文字 -->
      <div class="page-header">
        <h1>對直播主吐槽吧
          <small>真是好吐槽啊</small>
        </h1>
      </div>

      <!-- 表單區 -->
      <form>
        <div class="form-group form-group-lg">
          <input type="text" placeholder="請輸入您想吐槽的字，按Enter送出" class="form-control" (keyup.enter)="sendMessage(msg.value); msg.value=''"
            #msg>
        </div>
      </form>

      <!-- 罐頭訊息 -->
      <div class="grid">
        <button class="btn btn-lg" *ngFor="let button of buttons$ | async" [ngClass]="button.colorClass" (click)="sendMessage(button.value)"
          [ngStyle]="button.style">
          {{ button.label }}
        </button>
      </div>
    </div>
  </div>
</div>
